.answers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers > button {
    padding: 5px 30px;
    margin: 20px;
    cursor: pointer;
}

.correct-guess {
    background-color: green;
}

.incorrect-guess {
    background-color: red;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    padding-left: 20px;
    background-color: #f6f6f6;
}